<div class="body" >
<h2>Sondage n°{{survey?.id}}</h2>
<h2>Début du sondage : {{survey?.startingDate}}</h2>
<h2>Fin prévisionnelle : {{survey?.provisionalDate}}</h2>

<div [ngSwitch]="number">

  <h1>Voudriez-vous adhérer à un service d'assurance auto Proxibanque ?</h1>
  <div class="container" *ngSwitchCase="1">


    <img class="list-icon" src="./assets/thumbup.png" (click)="onAddPositive()">

    <div>
      <img class="list-icon" src="./assets/thumbdown.png" (click)="onAddNegative()">
    </div>
  </div>


  <div *ngSwitchCase="2">
    <form (ngSubmit)="validatePos(clientForm)" #clientForm="ngForm">
      <div class="form-group">
        <label for="clientNumber">Numéro Client (8 chiffres) :</label>
        <input [(ngModel)]="customer.clientNumber" required id="clientNumber" name="clientNumber" class="form-control">
      </div>
      <button class="btn btn-primary">Valider</button>
    </form>
  </div>
  <ng-container *ngSwitchCase="3">
    <form (ngSubmit)="validateNeg(commentForm)" #commentForm="ngForm">
      <div class="form-group">
        <label for="id">Commentaire :</label>
        <input [(ngModel)]="opinion.comment" required id="id" name="id" class="form-control">
      </div>
      <button class="btn btn-primary">Valider</button>
    </form>
  </ng-container>
</div>
</div>