.container {
    display:flex;
    justify-content: space-around;
   
    padding:150px;
}
img{
    padding:50px;
}

h1 {
    margin-top:150px;
    text-align:center;
}

h2{
    text-align:center; 
}

.body {
     background: url("/assets/voiture.jpg") center fixed;
     background-size: cover;
     width:100%;
    
}