.container {
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
}


h1 {
    margin:auto;
    margin-top:200px;
    
    text-align:center;
    color: white;
    font-weight: bold;
    border: 5px solid green;
    background-color: black;
    width:65%;
}

#numeroClient{
    margin-top:100px;
}
input, textarea{
    
    margin:auto;
}
textarea{
    width:60%;
}
input {
    width:30%;
}
h2{
    text-align:center; 
    color: #2A1F2D;
    font-weight:bold;
    margin:auto;
    width: 25%;
}

.body {
     background: url("/assets/voiture.jpg") center fixed;
     background-size: cover;
     width:100%;
     height: 969px;
    
}
.numeroclient{
    color: black;
    font-weight: bold;
    text-align:center;
    font-size:x-large;
}
h3{
    text-align:center; 
    color: #2A1F2D;
    font-weight:bold;
    margin:auto;
    width: 25%; 
}
button{
    margin-top:10px;
}
.commentaire{
    color: black;
    font-weight: bold;
    text-align:center;
    font-size:x-large;
}