.body {
   background: url("/assets/voiture.jpg") center fixed;
   background-size: cover;
   width:2000px;
   height: 2000px;
  
}
h2, h1{
   color: black;
   font-weight:bold;
   
    text-align : center;
 }
 
 h1 {
   padding-top:350px;
 }
 .container {
   margin-top:275px;
 }


