<div class="body">
    <div class="title">
    <h1> Obtenir un devis d'assurance auto</h1>
    <h2>Simple, rapide et gratuit</h2></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-10 col-lg-4">
                <button id="tel" class="btn btn-primary btn-lg btn-block"><i class="fas fa-phone"></i> Par téléphone</button><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-10 col-lg-4">
                <button id="mail" class="btn btn-success btn-lg btn-block"><i class="fas fa-at"></i> Par mail</button>
            </div>
        </div>
    </div>
</div>